:root {
  --dot-color: #fff;
  --bg-color: #e65d6e;
}
section.loader {
  font-family: Consolas, monaco, monospace;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  color: var(--dot-color);
}
section.loader .loader-center {
  width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 38px;
  letter-spacing: -6px;
  position: absolute;
  top: 38%;
  left: 50%;
  margin: -50px 0 0 -150px;
}
section.loader .loader-center .chars .dots .char {
  font-size: 3em;
  display: inline-block;
}
.dots .dot {
  position: relative;
  top: 0;
  left: 0;
}
.dot._dot-1 {
  animation: dot_1 1s ease-in-out infinite;
  animation-fill-mode: backwards;
  animation-direction: alternate;
}
.dot._dot-2 {
  animation: dot_2 1s ease-in-out infinite;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-delay: 1s;
}
.dot._dot-3 {
  animation: dot_3 1s ease-in-out infinite;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-delay: 0.5s;
}
@keyframes dot_1 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 30px;
    left: 20px;
  }
  100% {
    top: 0;
    left: 40px;
  }
}
@keyframes dot_2 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -30px;
    left: 20px;
  }
  100% {
    top: 0;
    left: 40px;
  }
}
@keyframes dot_3 {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -30px;
    left: -40px;
  }
  100% {
    top: 0;
    left: -80px;
  }
}
